<div class="columns is-centered mt-6">   
    <div class="column is-one-third">
        <div class="card">
           <header class="card-content">
                <h1 class = "is-size-1 has-text-weight-bold mb-1">Check-in</h1>
            </header>
        </div>
        <%= render 'form', entry: @entry %>
    </div>
</div>
